<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <%- include('partials/header.ejs') %>
 
    <div class="container col-xxl-8 px-4 py-5">
      <h3 class="text-center"><a href="/">Go Back</a></h3>
        <h1 class="text-center">Movie Details</h1>
        <div class="row flex-lg-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="<%= moviePoster %>" style="height: 500px !important; width: 350px !important;" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="600" height="400" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3"><%= movieName %></h1>
            <p class="lead"><%= movieDesc %></p>
          </div>
        </div>
      </div>

      <%- include('partials/footer.ejs') %>
</body>
</html>